@model Transistor_Shanty.Models.ViewModel.GetInBudget

@{
    ViewData["Title"] = "InBudget";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>InBudget</h1>

<h4>GetInBudget</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InBudget" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LaptopPrice" class="control-label"></label>
                <input asp-for="LaptopPrice" class="form-control" />
                <span asp-validation-for="LaptopPrice" class="text-danger"></span>


            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Laptop.ModelName)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Laptop.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laptop.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laptop.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laptop.Type)
            </th>
        </tr>
    </thead>
    @foreach (Laptop item in Model.GetLaptops())
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
        </tr>
    }
</table>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
